body {
    background-color: #171717;
    font-family: 'Gilam';
}

.container {
    max-width: 1460px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 37px;
}

.button-callback {
    display: flex;
    justify-content: center;
    align-items: center;

    border: #E4B564 solid 1px;
    width: 218px;
    height: 50px;

    color: #E4B564;
    font-size: 18px;
    text-decoration: none;
}

.call-image {
    padding-right: 10px;
}

.networks {
    /* border: #0fcf29 solid 2px; */
    margin-top: 120px;
}
.networks>h2 {
    font-size: 50px;
    font-weight: bold;
    line-height: 28px;
    color: #FFFFFF;
}
.networks>p {
    max-width: 1182px;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    color: #FFFFFF;
    padding: 41px 0px;
}
.networks-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    height: 963px;
}

.networks-grid>div {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#FFFFFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
}

.networks-grid-item1 {
    grid-area: 1 / 1 / 4 / 3;
    background-color: #634F2C;
}
.networks-grid-item2 {
    grid-area: 1 / 3 / 4 / 5;
    background-color: #B4A385;
}
.networks-grid-item3 {
    grid-area: 1 / 5 / 4 / 7;
    background-color: #E4B564;
}
.networks-grid-item4 {
    grid-area: 4 / 1 / 7 / 4;
    background-color: #635A4A;
}
.networks-grid-item5 {
    grid-area: 4 / 4 / 7 / 7;
    background-color: #B08C4D;
}


.equipments {
    /* border: #e40ae4 solid 2px;     */
    margin: 161px 0px 191px;    
}
.equipments>h2 {
    font-size: 50px;
    font-weight: bold;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 94px;
}
.equipments-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    height: 897px;
}
.equipments-grid>div {
    display: flex;
    color:#FFFFFF;  
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    text-align: left;
    padding-left: 50px;
    padding-top: 45px;
   
}
.equipments-grid>div>p {
    display: inline-block;
    width: 300px;
}
.equipments-grid-item1 {
    grid-area: 1 / 1 / 3 / 3;
    background-color: #0E0E0E;
}
.equipments-grid-item2 {
    grid-area: 1 / 3 / 4 / 5;
    background-color: #242424;
}
.equipments-grid-item3 {
    grid-area: 1 / 5 / 3 / 7;
    background-color: #1F1F1F;
}
.equipments-grid-item4 {
    grid-area: 3 / 1 / 7 / 3;
    background-color: #1F1F1F;
}
.equipments-grid-item5 {
    grid-area: 4 / 3 / 7 / 5;
    background-color: #E4B564;    
}
.equipments-grid-item6 {
    grid-area: 3 / 5 / 5 / 7;
    background-color: #0E0E0E;
}
.equipments-grid-item7 {
    grid-area: 5 / 5 / 7 / 7;
    background-color: #0A0909;
}



.footer {
    background-color: #0E0E0E;
    /* border: #f3e62d solid 2px;     */
    margin-bottom: 161px;  
    
}
.container-in-footer {
    max-width: 1460px;
    margin: 0px auto 0px;
}

.footer-title {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 161px 0px 61px;

}
.footer-title>h2 {
    font-size: 50px;
    font-weight: bold;
    line-height: 28px;
    color: #FFFFFF;
}


.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 782px;
}
.footer-grid-item1 {
background-color: #634F2C;
}
.footer-grid-item2 {
    background-color: rgba(232, 210, 171, 0.76);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
    color: #FFFFFF;
}
.footer-grid-item3 {
    background-color: #E4B564;
}
.footer-grid-item4 {
    background-color: #635A4A;
}
.footer-grid-item5 {
    background-color: #B08C4D;
}
.footer-grid-item6 {
    background-color: #634F2C;
}

.footer-grid>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.footer-grid-item2>p {
    width: 326px;
}